
<div class="container">
<h1>Add Employee</h1>
<hr>
<form [formGroup]="addUser" (ngSubmit)="onSubmit(addUser.value)">

  <mat-form-field appearance="outline">
    <input matInput placeholder="Enter First Name" formControlName="firstName">
  </mat-form-field> &nbsp;&nbsp;
  <mat-form-field appearance="outline">
    <input matInput placeholder="Enter Last Name" formControlName="lastName">
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Enter Email" formControlName="email">
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;
  <img [src]="url"><br>
  <div>
    <input type="file" class="inpstyle" formControlName="image" (change)="onselectFile($event)">
  </div>

  <button mat-raised-button color="warn" mat-dialog-close type="button" class="Discard-btn">close</button>
  <button mat-raised-button color="accent" type="submit" [disabled]="!addUser.valid">Submit</button>
</form>
</div>