<mat-toolbar color="primary">
    <span>Angular Application</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="home">
      Home
    </button>&nbsp;&nbsp;
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="about">
      About
    </button>&nbsp;&nbsp;
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="contact">
      Contact
    </button>
  </mat-toolbar>
  