<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="Onsubmit(loginForm.value)">
    <div class="text-center my-3 formDiv">
    <h4 class="pt-3">LOGIN</h4>
    <mat-form-field appearance="outline">
      <mat-label>Enter Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
    <br><br>
    <button mat-raised-button color="warn" class="mb-3 sbtn" [disabled]="!loginForm.valid">Login</button>
    <a routerLink="/formData">demoForm</a>
    </div>
  </form>
</div>
