<div class="container">
    <form [formGroup]="demoform" (ngSubmit)="Onsubmit(demoform.value)">
      <div class="text-center my-3 formDiv">
      <h4 class="pt-3">Demo Form</h4>
      <input type="text" placeholder="Enter Name" formControlName="name" class="form-control"><br>
      <input type="text" placeholder="Enter Email" formControlName="email" class="form-control"><br>
      <input type="text" placeholder="Enter Mobile" formControlName="mobile" class="form-control"><br>
      <button mat-raised-button color="warn" class="mb-3 sbtn" type="submit" [disabled]="!demoform.valid">Login</button>
      </div>
    </form>
  </div>
<div>
  How many user Visited :

  <ul *ngFor="let item of data">
    <li>{{item.name}}</li>
  </ul>
</div>