
.container{
    max-width: 400px;  
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
}
.formDiv{
    border-radius: 30px;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
mat-form-field{
    width: 80%; 
}

.sbtn{
    width: 50%;
}
.card{
    display: inline-block;
}