 <div class="container">
    <div class="formDiv text-center">
        <form [formGroup]="ContactForm" (ngSubmit)="onSubmit()">
            <h1 class="m-3 text-center">Form Details</h1>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Name</mat-label>
                    <input matInput formControlName="name" [ngClass]="{'is-invalid':submitted}">
                    <mat-hint *ngIf="ContactForm.controls['name'].touched 
                    && ContactForm.controls['name'].errors && f['name'].errors?.['required']" 
                    style="color: green;">Enter Name</mat-hint>
                    <mat-hint *ngIf="submitted && f['name'].errors?.['required']" style="color: green;">Enter Name</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput formControlName="email" [ngClass]="{'is-invalid':submitted}">
                    <mat-hint *ngIf="ContactForm.controls['email'].touched 
                    && ContactForm.controls['email'].errors"
                    style="color: green;"> Enter Valid Email</mat-hint>
                    <mat-hint *ngIf="submitted && f['email'].errors?.['required']" style="color: green;">Enter Email</mat-hint>

                              
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Mobile</mat-label>
                    <input matInput #input maxlength="10" minlength="10" type="number" formControlName="mobile">
                    <mat-hint *ngIf="ContactForm.controls['mobile'].touched 
                    && ContactForm.controls['mobile'].errors" 
                    style="color: green;"> Enter 10 digit Mobile</mat-hint>
                    <mat-hint *ngIf="submitted && f['mobile'].errors?.['required']" style="color: green;">Enter mobile</mat-hint>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Select Hobby</mat-label>
                    <mat-select formControlName="hobby">
                        <mat-option value="Music">Music</mat-option>
                        <mat-option value="Singing">Singing</mat-option>
                        <mat-option value="Cricket">Cricket</mat-option>
                        <mat-option value="Actor">Actor</mat-option>
                    </mat-select>
                    <mat-hint *ngIf="ContactForm.controls['hobby'].touched 
                    && ContactForm.controls['hobby'].errors" 
                    style="color: green;"> select your hobby</mat-hint>
                    <mat-hint *ngIf="submitted && f['hobby'].errors?.['required']" style="color: green;">Select hobby</mat-hint>
                    
                </mat-form-field>
            </div>
            
            <div>
               
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="ContactForm.controls['password'].touched 
                    && ContactForm.controls['password'].errors" 
                    style="color: green;"> Enter password</mat-hint>
                    <mat-hint *ngIf="submitted && f['password'].errors?.['required']" style="color: green;">Enter password</mat-hint>
                    
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Address </mat-label>
                    <textarea matInput formControlName="address"></textarea>
                    <mat-hint *ngIf="ContactForm.controls['address'].touched 
                    && ContactForm.controls['address'].errors" 
                    style="color: green;"> Enter address</mat-hint>
                    <mat-hint *ngIf="submitted && f['address'].errors?.['required']" style="color: green;">Enter Address</mat-hint>

                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint *ngIf="ContactForm.controls['dob'].touched 
                    && ContactForm.controls['dob'].errors" 
                    style="color: green;"> enter your dob</mat-hint>
                    <mat-hint *ngIf="submitted && f['dob'].errors?.['required']" style="color: green;">select Date</mat-hint>

                  </mat-form-field>
            
                <label class="mx-3"> Gender :</label>
                <mat-radio-group class="example-radio-group" formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button class="ms-3" value="female">Female</mat-radio-button>
                    <mat-hint *ngIf="ContactForm.controls['gender'].touched 
                    && ContactForm.controls['gender'].errors" 
                    style="color: green;"> select gender</mat-hint>
                    <mat-hint *ngIf="submitted && f['gender'].errors?.['required']" style="color: green;">select gender</mat-hint>
                </mat-radio-group>
            </div>
            <button type="submit" mat-raised-button color="warn" class="w-75">Submit</button>
        </form>
    </div>
</div> 