

<h1>update Employee</h1>
<hr>
<form #empData="ngForm" (ngSubmit)="onSubmit(empData.value)">
<mat-form-field>
  <mat-label>Enter First Name:</mat-label>
  <input matInput placeholder="Placeholder" ngModel="{{details.firstName}}" name="firstName" >
</mat-form-field>&nbsp;&nbsp;
<mat-form-field>
  <mat-label>Enter Last Name:</mat-label>
  <input matInput placeholder="Placeholder" ngModel="{{details.lastName}}" name="lastName">
</mat-form-field><br>
<mat-form-field>
  <mat-label>Enter Email:</mat-label>
  <input matInput placeholder="Placeholder" ngModel="{{details.email}}" name="email">
</mat-form-field>
  &nbsp;&nbsp;
  <img [src]="url" height="100px">
<div>
  <input type="file" class="inpstyle" name="image" (change)="onselectFile($event)">
</div>
<br>
<button mat-raised-button color="warn" (click)="Close()">close</button>&nbsp;
<button mat-raised-button color="accent" type="submit">Submit</button>
</form>