<div class="d-flex justify-space-between">
    <div><img src="{{EmpDetails.image}}" alt=""></div>
    <div>
    <p>FirstName : {{EmpDetails.firstName}}</p>
    <p>lastName : {{EmpDetails.lastName}}</p>
    <p>maidenName : {{EmpDetails.maidenName}}</p>
    <p>age : {{EmpDetails.age}}</p>
    <p>gender : {{EmpDetails.gender}}</p>
    <p>email : {{EmpDetails.email}}</p>
    <p>phone : {{EmpDetails.phone}}</p>
    <p>username : {{EmpDetails.username}}</p>
    <p>password : {{EmpDetails.password}}</p>
    <p>birthDate : {{EmpDetails.birthDate}}</p>
    <p>bloodGroup : {{EmpDetails.bloodGroup}}</p>
    <p>height : {{EmpDetails.height}}</p>
    <p>weight : {{EmpDetails.weight}}</p>
    <p>eyeColor : {{EmpDetails.eyeColor}}</p>
    <p>university : {{EmpDetails.university}}</p>
    <p>userAgent : {{EmpDetails.userAgent}}</p>
        <p>Address :{{EmpDetails.address.address}} </p>
        <p>city : {{EmpDetails.address.city}}</p>
        <p>postalCode :{{EmpDetails.address.postalCode}} </p>
        <p>state : {{EmpDetails.address.state}}</p>
</div>
</div>