h4{
    color: rgb(34, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
td{
    text-align: center;
    border: none;
    height: 20px;
}
th{
    height:50px;
    color: white;
    background-color: coral;
    border-right: 1px solid white;
}
table{
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar{
    background-color: coral;
    color: white;
    padding-left: 45%;
}
.addbtn{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}